<!doctype html>
<html>

<head>
</head>

<body>
    <h1>My blog</h1>

    <section id="news">
        <h2 id="titleNews">News</h2>
        <article class="test">
            <h3 class="title">News 1</h3>
        </article>
        <h3 id="titleNews">News</h3>
        <article class="test">
            <h3 class="title">News 2</h3>
        </article>

        <article>
            <h3 class="title">News 3</h3>
        </article>
    </section>

    <form id="addNewsForm">
        Title : <input name="titleToAdd" type="text" />

        <input id="button" type="submit" name="addNewsBtn" value="Add news" />
    </form>
</body>
<script src="../public/js/log.js"></script>
<script src="../public/js/variablecouleur.js"></script>
<script src="../public/js/index.js"></script>

</html>